{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login</title>
</head>
  <body>
    <div class="message">
      {% for message in messages %}
        <p id="messages">{{message}}</p>
      {% endfor %}
    </div>

    <style>
      h1{
        margin: 0 0 30px;
        color: #fff;
        text-align: center;
      }
    </style>
    
    <div class="login-box">
      <h1>Login</h1>
      <form action="" method="post">
        {% csrf_token %}

        <div class="user-box">
          <input type="text" name="username" required="">
          <label>username</label>
        </div>

        <div class="user-box">
          <input type="password" name="password" required="">
          <label>password</label>
        </div>

        <div class="signup-button">
          <p>Do not have an account?
            <a href="{% url 'signupPage' %}">SignUp here</a>
          </p>
        </div>

        <div class="forget-button">
          <p>Forget Password?
            <a href="{% url 'password_reset' %}">Reset Here</a>
          </p>
        </div>

        <div class="login-button">
          <button type="submit">
            Login
          </button>
        </div>

      </form>
    </div>
    
      <a class="facebook-before" href="{% url 'social:begin' 'facebook' %}">
        <button class="facebook">Login Using Facbook</button>
      </a>

      <img class = "facebook-image" src = "{% static 'facebook.png' %}" alt="facebook">
      <br>

      <a class="google-before" href="{% provider_login_url 'google' %}">
        <button class="google">Login Using Google</button>
      </a>
      <img class = "google-image" src = "{% static 'google.png' %}" alt="google">


  </body>
</html>


